@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0c0b10;
  color: #fffcff;
}

.header-shadow {
  box-shadow: 0px 2px 15px 0px #1c1d22;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 12px;
}

@media (min-width: 1024px) {
  .container {
    margin-top: 60px;
  }
}
